* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin-left: 10px;
  list-style-type: circle;
  list-style-position: inside;
}

ul li {
  padding-left: 10px;
}

hr {
    border-top: 1px solid #8c8b8b;
}

.content div div {
  position: relative;
  margin: auto;
  width: 65%;
}

@media(max-width: 1000px) {
  .content div div {
    width: 95%;
  }
}

/******************** Header ********************/

.header {
    background-color: #6d6d6d;
    width: 100%;
    display: inline-block;
}

.header .me {
    padding: 15px 10px;
    float: left;
}

.header .jump-tags {
    float: right;
    padding: 10px 10px;
    display: flex;
}

.header .jump-tags div {
    padding: 10px;
    transition: 0.2s;
}

.header .jump-tags div:hover {
    background: #525252;
}

.header .jump-tags a {
    font-family: 'Montserrat', serif;
    color: lightgrey;
    font-size: 22pt;
    padding: 5px 10px;
    text-decoration: none;
    /** border: 1px black solid; **/
}

/******************** Me ********************/

#me {
    background: lightgrey;
}

.me-content {
  position: relative;
  margin: auto;
  width: 60%;
}

.me-content .descriptionLine {
  display: inline-block;
}

/******************** Education ********************/

#education {
    background: #BFBFBF;
}

.education-content h1 {
    text-align: center;
    font-family: 'Vesper Libre', serif;
    font-size: 24pt;
}

#education .entry {
    font-family: 'Montserrat', sans-serif;
  width: auto;
  margin: 25px 0;
    align-items: start;
}

#education img {
  border-radius: 50%;
  border: 1px solid white;
  max-width: 90px;
}

#education .entry-title {
    font-family: 'Nunito', serif;
    font-size: 14pt;
    font-weight: 600;
}


#education .institution {

}

#education .program {

}

#education .major-title {

}

#education .timeframe {
    text-align: right;
    font-weight: 600;
    font-size: 12pt;
    vertical-align: top;
}

#education .year {
}

#education .location {
}

#education * {
    /** outline: 1px solid black; **/
}

#education .detailed-course-info {

}

#education .courses {
    outline: 1px solid black;
}

#education .additional-program-info {
    align-self: start;
}

#education .description-title {

}

#education .description-info {

}

#education .coursework {

}

#education .major {
  margin-left: 10px;
}


#education .entry {
    display: grid;

    grid-template-columns: 130px 3fr 2fr 200px;
    grid-template-rows: 3vh 10vh auto;

    grid-column-gap: 10px;
    grid-row-gap: 10px;

    align-items: start;
    align-self: start;
    align-content: start;
}

@media screen and (max-width: 500px) {

    .entry {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 3vh repeat(3, auto);
        grid-gap: 15px;

        margin: 0 auto;
    }
}

/** Undergrad Entry **/
#undergrad hr {
    grid-area: hr;
}

#undergrad .entry-logo {
  grid-area: undergrad_logo;
}

#undergrad .entry-title {
  grid-area: undergrad_title;
}

#undergrad .timeframe {
    background: black;
  grid-area: undergrad_timeframe;
}

#undergrad .courses {
  grid-area: undergrad_courses;
}

#undergrad .additional-program-info {
  grid-area: undergrad_detail;
}

#undergrad {
    grid-template-areas:
            ". hr hr hr"
            "undergrad_logo undergrad_title undergrad_title undergrad_timeframe"
            ". undergrad_courses undergrad_detail ."
}

@media screen and (max-width: 500px) {
    #undergrad_logo #undergrad_timeframe {
        display: none;
    }

    #undergrad {
        grid-template-areas:
                "hr"
                "undergrad_title"
                "undergrad_courses"
                "undergrad_detail"
    }
}

/** Certificate Entry **/
#certificate hr {
    grid-area: hr;
}

#certificate .entry-logo {
  grid-area: certificate_logo;
}

#certificate .entry-title {
  grid-area: certificate_title;
}

#certificate .timeframe {
  grid-area: certificate_timeframe;
}

#certificate .courses {
  grid-area: certificate_courses;
}

#certificate .additional-program-info {
  grid-area: certificate_detail;
}

#certificate {
    grid-template-areas:
        ". hr hr hr"
        "certificate_logo certificate_title certificate_title certificate_timeframe"
        ". certificate_courses certificate_detail ."
}

@media screen and (max-width: 500px) {
    #certificate_logo #certificate_timeframe {
        display: none;
    }

    #certificate {
        grid-template-areas:
                "hr"
                "certificate_title"
                "certificate_courses"
                "certificate_detail"
    }
}

/******************** Skills ********************/

#skills {
  background: pink;
}

.skills-content {
  background: lightgrey;
}

.skill-box {
    background: grey;
    padding: 3px;
    max-width: 300px;
}

.skill-box .skill-title {
    background: darkgrey;
    width: 100%;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.skill-box .skill-photo {
    width: 100%;
    /* outline: 2px solid grey; */
}

.skill-box .skill-description {
    width: 100%;
    margin: 0;
    padding: 5px;
    background: darkgrey;
}

#languages {
  grid-area: languages;
}

#technologies {
  grid-area: technologies;
}

#concepts {
  grid-area: concepts;
}

#soft-skills {
  grid-area: soft_skills;
}


#skills-grid {
    width: 90%;
    max-width: 900px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    grid-row-gap: 30px;

    margin: 0 auto;

    grid-template-areas: "languages technologies" "concepts soft_skills"
}

@media screen and (max-width: 500px) {
    #skills-grid {
        width: 90%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80vh 80vh 80vh 80vh;
        grid-gap: 15px;
        margin: 0 auto;

        grid-template-areas:
          "languages"
          "technologies"
          "concepts"
          "soft_skills"
    }
}

/******************** Projects ********************/

#projects {
  background: teal;
}

/******************** Work ********************/

#work {
  background: cyan;
}

/******************** Hobbies ********************/

#hobbies {
  background: darkgrey;
}


/******************** Footer ********************/

.footer {

}

/********************  ********************/
