* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin-left: 10px;
    list-style-type: circle;
    list-style-position: inside;
}

ul li {
    padding-left: 10px;
}

hr {
    border-top: 1px solid #8c8b8b;
}

.section-title {
    text-align: center;
    /* font-family: 'Vesper Libre', serif; */
    font-family: 'Scope One', serif;
    font-size: 24pt;
    padding: 30px 20px 20px 20px;
}

.content div {
    padding: 5px;
}

.content div div {
    position: relative;
    margin: auto;
    width: 65%;
}

@media(max-width: 1000px) {
    .content div div {
        width: 95%;
    }
}

/******************** Header ********************/

.header {
    background: #346c85;
    width: 100%;
    display: inline-block;
}

.header .me {
    padding: 15px 10px;
    float: left;
}

.header .jump-tags {
    float: right;
    padding: 10px 10px;
    display: flex;
}

.header .jump-tags div {
    padding: 10px;
    transition: 0.2s;
}

.header .jump-tags div:hover {
    background: #2d5e74;
    border-radius: 5px;
}

.header .jump-tags a {
    font-family: 'Montserrat', 'Calibri', sans-serif;
    color: lightgrey;
    font-size: 22pt;
    text-decoration: none;
    /** border: 1px black solid; **/
}

/******************** Me ********************/

#me {
    background: #b4bcd3;
}

.me-content {
    position: relative;
    width: 100%;
    outline: 1px solid black;
    text-align: center;
}

.me-content .descriptionLine {
    display: inline-block;
    outline: 1px solid black;
}

.profile-image-row {
    outline: 1px solid black;
    margin: auto;
    align-content: center;
    align-self: center;

    padding: 0;
    display: inline;
}

.profile-image {
    border: 1px solid grey;
    border-radius: 50%;
    max-width: 12vw;
    display: inline-block;
    margin: 0 10px;
}

#resetButton {
    display: none;
}

/******************** Education ********************/

#education {
    background: #BFBFBF;
}

#education .entry {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    margin: 25px 0;
    align-items: start;
}

#education img {
    border-radius: 50%;
    border: 1px solid white;
    max-width: 90px;
    box-shadow: 0 0 3px black;
}

#education .entry .entry-logo {

}

#education .entry-title {
    font-family: 'Nunito', serif;
    font-size: 14pt;
    font-weight: 600;
    vertical-align: middle;

}

#education .entry-item {
    width: 100%;
    height: 100%;
}

#education .institution {
    margin: 0;
    padding: 0;
}

#education .program {
    margin: 0;
    padding: 0;
}

#education .major-title {
    margin: 0;
    padding: 0;
}

#education .timeframe {
    text-align: right;
    font-weight: 500;
    font-style: italic;
    font-size: 12pt;
    vertical-align: top;

}

#education .year {
    margin: 0;
    padding: 0;
}

#education .location {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

#education {
    /** outline: 1px solid black; **/
}

#education .detailed-course-info {

}

#education .courses {

}

#education .additional-program-info {

}

#education .education-content-title {
    font-weight: 500;
    font-size: 14pt;
    margin: 5px 0;
}

#education .description-info {
    list-style-type: circle;
    list-style-position: inside;
    font-size: 12pt;
}

#education .description-info-detail {
    list-style-type: disc;
    font-size: 11pt;
    margin-left: 8px;
}

#education .major {
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 3px;
    font-size: 13pt;
}

#education ul {

}

#education ul li {

}

.entry img {

}

.entry div {

}

#education .entry {
    display: grid;

    grid-template-columns: 130px 4fr 3fr auto;
    grid-template-rows: 3vh auto auto;

    grid-column-gap: 5px;
    grid-row-gap: 10px;
}

@media screen and (max-width: 500px) {
    .entry {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: 3vh repeat(3, auto);
        grid-gap: 15px;

        margin: 0 auto;
    }
}

@media screen and (max-width: 1000px) {
    .entry {
        display: grid;

        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 3vh auto;

        grid-column-gap: 15px;
        grid-row-gap: 100px;

        margin: 0 auto;
    }
}

/** Undergrad Entry **/
#undergrad hr {
    grid-area: hr;
}

#undergrad .entry-logo {
    grid-area: undergrad_logo;
}

#undergrad .entry-title {
    grid-area: undergrad_title;
}

#undergrad .timeframe {
    grid-area: undergrad_timeframe;
}

#undergrad .courses {
    grid-area: undergrad_courses;
}

#undergrad .additional-program-info {
    grid-area: undergrad_detail;
}

#undergrad {
    grid-template-areas:
            ". hr hr hr"
            "undergrad_logo undergrad_title undergrad_title undergrad_timeframe"
            ". undergrad_courses undergrad_detail ."
}

@media screen and (max-width: 500px) {
    #undergrad_logo #undergrad_timeframe {
        display: none;
    }

    #undergrad {
        grid-template-areas:
                "hr"
                "undergrad_title"
                "undergrad_courses"
                "undergrad_detail"
    }
}

@media screen and (max-width: 1000px) {
    #undergrad {
        grid-template-areas:
                "hr hr hr hr"
                "undergrad_logo undergrad_title undergrad_title undergrad_timeframe"
                "undergrad_courses undergrad_courses undergrad_detail undergrad_detail"
    }
}

/** Certificate Entry **/
#certificate hr {
    grid-area: hr;
}

#certificate .entry-logo {
    grid-area: certificate_logo;
}

#certificate .entry-title {
    grid-area: certificate_title;
}

#certificate .timeframe {
    grid-area: certificate_timeframe;
}

#certificate .courses {
    grid-area: certificate_courses;
}

#certificate .additional-program-info {
    grid-area: certificate_detail;
}

#certificate {
    grid-template-areas:
        ". hr hr hr"
        "certificate_logo certificate_title certificate_title certificate_timeframe"
        ". certificate_courses certificate_detail ."
}

@media screen and (max-width: 500px) {
    #certificate_logo #certificate_timeframe {
        display: none;
    }

    #certificate {
        grid-template-areas:
                "hr"
                "certificate_title"
                "certificate_courses"
                "certificate_detail"
    }
}

@media screen and (max-width: 1000px) {
    #certificate {
        grid-template-areas:
                "hr hr hr hr"
                "certificate_logo certificate_title certificate_title certificate_timeframe"
                "certificate_courses certificate_courses certificate_detail certificate_detail"
    }
}

/******************** Skills ********************/

#skills {
    background: #eaeaea;
}

.skills-content {

}

#skills-grid {
    margin-top: 40px;
}

#skills-grid .skill-box {
    background: #dfdfdf;
    margin: 0 auto auto auto;
    max-width: 500px;
    width: 100%;

    border: 1px solid #222222; /* */
    box-shadow: 0 0 1px black;
    font-family: 'Monospace', sans-serif;
    font-weight: 500;
    padding: 0;
}

#skills-grid .skill-title {
    background: #2d8bb7;
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin: 0;
    font-size: 14pt;
    padding: 3px;
}

#skills-grid .skill-description {
    text-align: left;
    padding: 5px;
    width: 100%;
}

#skills-grid .skill-description li {
    margin: 3px 0;
}

#languages {
    grid-area: languages;
}

#technologies {
    grid-area: technologies;
}

#concepts {
    grid-area: concepts;
}

#soft-skills {
    grid-area: soft_skills;
}


#skills-grid {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    grid-row-gap: 70px;

    align-content: start;

    grid-template-areas:
            "languages technologies"
            "concepts soft_skills"
}

@media screen and (max-width: 500px) {
    #skills-grid {
        width: 90%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80vh 80vh 80vh 80vh;
        grid-gap: 15px;
        margin: 0 auto;

        grid-template-areas:
          "languages"
          "technologies"
          "concepts"
          "soft_skills"
    }
}

/******************** Projects ********************/

#projects {
    background: #585858;
}

#projects .projects-content {
    width: 80%;
}

#projects .project-grid {
    margin-top: 40px;
    display: inline-flex;
}

#projects .project-grid * {
    width: 100%;
    margin: 0;
    padding: 0;
}

#projects .project-entry {
    font-family: 'Nunito', serif;
    width: 100%;
    max-width: 400px;
    margin: 30px;
}

#projects .project-info {
    border: 2px solid black;
    margin-bottom: 7px;
    padding: 0;
}

#projects .project-title {
    text-align: center;
    background: #9ab9d0;
    padding: 5px;
    font-weight: 600;
}

#projects .detail-hidden-by-image {
    width: 100%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#projects .detail-hidden-by-image :hover {
    opacity: 100%;
    transition: .5s;
}

#projects .project-description {
    padding: 7px;
    background: lightgrey;
}

#projects .project-tags {
    display: flex;
    padding: 3px 6px;
}

#projects .project-tag {
    border: 1px solid;
    padding: 6px 10px;
    border-radius: 5px;
    background: #585858;
    color: #b4bcd3;
    margin: 0 4px;
    font-size: 10pt;
    width: min-content;
    text-transform: uppercase;
    font-family: "monospace", serif;
}

#projects .java-tag {
    border-color: deepskyblue;
}

#projects .objective-c-tag {
    border-color: white;
}

#projects .python-tag {
    border-color: darkblue;
}

#projects .javascript-tag {
    border-color: yellow;
}

#projects .html-css-tag {
    border-color: orange;
}

#projects .php-tag {
    border-color: rebeccapurple    ;
}

#projects .shell-tag {
    border-color: grey;
}

#projects .git-tag {
    border-color: orangered;
}

/******************** Experience ********************/

#experience {
    background: lightgrey;
}

/******************** Hobbies ********************/

#hobbies {
  background: #BFBFBF;
}


/******************** Footer ********************/

.footer {
    background: darkgrey;
    text-align: center;
    margin: auto;
    padding: auto;
}

.footer p {
    margin: auto;
    padding: 5px 0;
}

/********************  ********************/
