/**********************************************/
/****************** Defaults ******************/
/**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    /* TODO - Need a Safari-supported scroll */
}

a {
    /* Remove the default red dashed outline on a click */
    outline: 0;
}

/* TODO - Change to dim the box on click/hover */

a :active, a :focus {
    /* Alternative outline on click/focus */
    /* Style but also *do not* remove - accessibility */
    outline: 1px solid black;
}

/**********************************************/
/***************** Main Style *****************/
/**********************************************/

#container {
    display: flex;
    width: 100%;
    background: #fdfdfd;
}
* {
    /* outline: 1px solid blue; /* */
}

#header {
    padding: 0;
    margin: 0 0 10px 0;
}

#header a {
    padding: 0;
    margin: 0;
    font-size: 16pt;
}

#header a, #header a:active, #header a:visited {
    color: #707070;
}

#header div {
    padding: 10px 40px;
    width: max-content;
    border: 2px solid #535353;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #4d4d4d;
}

#sidebar {
    padding: 10px;
    margin: 10px;
    float: left;
    height: max-content;
    width: 150px;
    border-left: 2px solid #4d4d4d;
    border-radius: 5px;
    flex-grow: 0;
}

#sidebar p {
    font-family: 'Montserrat', sans-serif;
}

ul {
    margin: 5px 0 0 0;
    border-left: 2px solid #4d4d4d;
    border-radius: 5px;
}

li {
    font-size: 8pt;
    list-style-type: none;
    padding-left: 8px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: 'Source Code Pro', sans-serif;
}

li:hover {
    padding-left: 14px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


ul li a, ul li a:visited {
     color: #3f6392;
}

li:active {
    padding-left: 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}



#projectWindow {
    padding: 15px;
    margin: 10px 30px;
    height: auto;
    width: auto;
    flex-grow: 1;
    min-height: 90vh;
    border-left: 2px solid #4d4d4d;
    border-radius: 5px;
}

#default-info {
    padding: 20px;
    font: 14pt 'Montserrat', sans-serif;
}

#projectWindow object {
    width: 100%;
    height: 100%;
}

#footer {
    margin: auto;
    padding: 5px auto;
    clear: both;
    width: 100%;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 9pt;
    text-align: center;
}