Options +MultiViews

DirectoryIndex index.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]+)$ $1.html [NC,L]

RedirectMatch 301 ^/css/$ /
RedirectMatch 301 ^/doc/$ /
RedirectMatch 301 ^/fonts/$ /
RedirectMatch 301 ^/img/$ /
RedirectMatch 301 ^/js/$ /