
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #555;
}

a {
  color: white;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

/* ---------------------------------
hero
--------------------------------- */

#hero {
  background: gray;
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
}

#hero h1, #hero h3 {

  font-size: 28px;
  text-shadow: 2px 2px #000;
  margin-bottom: 40px;
}

#hero h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

#hero a.btn {
  color: white;
  background-color: #131633;
  text-decoration: none;
  padding: 20px 46px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  border: 2px solid white;
}

#hero a.btn:hover {
  background-color: #2196f3;
}

@media(max-width: 800px) {
  #hero {
    min-height: 600px;
  }

  #hero h1 {
    font-size: 36px;
  }

  #hero h3 {
    font-size: 18px;
  }

  #hero a.btn {
    padding: 15px 40px;
  }
}

/* --------------------------
About
---------------------------*/

h3.title {
  color: #131633;
  text-transform: capitalize;
  font-size: 32px;
  margin-bottom: 35 px;
  text-align: center;
}

hr {
  width: 150px;
  height: 2px;
  background-color: #2196f3;
  border: 0;
  margin: 40px auto;
}

#about {
  padding: 10px;
  background-color: #f7f7f7;
  margin-bottom: 20px;
}

#two-cols {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-img {
  border: 4px solid #2196f3;
  background-color: #2196f3;
}

.about-bio {
  width: 65%;
  max-width: 800px;
  line-height: 2;
  margin-left: 20px;
}

@media(max-width: 600px) {
  #about, #two-cols {
    flex-direction: column;
  }

  .about-bio {
    margin-top: 20px;
    line-height: 1.5;
    text-align: left;
  }
}

/* --------------------------
Travel
---------------------------*/

#getting-around {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

#getting-around ul.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 60px;
}

#getting-around p {
  margin-bottom: 20px;
}

#getting-around ul.grid li {
  flex-basis: 30%;
  padding: 0 20px;
  margin-bottom: 40px;
}

.ico {
  font-size: 40px;
  color: #2196f3;
  margin-bottom: 20px;
}

#getting-around ul.grid li h4 {
  color: #555;
  font-size: 20px;
  margin-bottom: 10px;
}

#getting-around ul.grid li p {
  text-align: center;
  margin: 0;
}

@media(max-width: 1000px) {
  #getting-around {
    padding: 0 40px;
  }

  #getting-around ul.grid li {
    flex-basis: 70%;
    margin-bottom: 65px;
  }
}

/* --------------------------
Quotes
---------------------------*/

#famous-quotes {
  background-color: #fafafa;
  padding-bottom: 40px;
  text-align: center;
}

#famous-quotes .portrait-photos {
  border-radius: 50%;
  border: 4px solid #2196f3;
  margin-bottom: 10px;
}

#famous-quotes .quote {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 0;
}

#famous-quotes .author {
  margin: 20px auto;
}

#famous-quotes .title {
    margin-bottom: 20px;
}

#famous-quotes .author: last-child {
  margin-bottom: 0;
}

@media(max-width: 1000px) {
    #famous-quotes .quote {
      font-size: 18px;
      padding: 0 20px;
    }

    #famous-quotes .author {
      font-size: 14px;
    }
}


section.flexbox-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* --------------------------
FOOTER
---------------------------*/

footer {
  background-color: #131622;
  color: white;
  text-align: center;
  background: linear-gradient(to bottom, #284e7a, #000 150%);
  padding: 20px 0 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  text-transform: lowercase;
  font-size: 14px;
  color: rgba(255, 255, 255, .6);
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
}

footer ul {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
}

footer ul li {
  margin: 0 8px;
}

footer ul li a {
  font-size: 36px;
  cursor: pointer;
}

@media(max-width: 800px) {
    footer {
        padding 80px 15px;
    }
}
