/**********************************************/
/****************** Defaults ******************/
/**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    /* TODO - Need a Safari-supported scroll */
}

body  {

}

a {
    /* Remove the default red dashed outline on a click */
    outline: 0;
}


a :active, a :focus {
    /* Alternative outline on click/focus */
    /* Style but also *do not* remove - accessibility */
    outline: 1px solid lightblue;
}

ul {
    margin-left: 10px;
    list-style-type: circle;
    list-style-position: inside;
}

ul li {
    padding-left: 10px;
}

hr {
    border-top: 1px solid #8c8b8b;
}

h1 {
    font-family: 'Montserrat', serif;
    font-size: 24pt;
}

/**********************************************/
/******************* Fonts ********************/
/**********************************************/

@font-face {
    font-family: 'BebasNeue-Regular';
    src:url("../fonts/bebas_neue/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: 'Aileron-Regular';
    src:url("../fonts/aileron/Aileron-Regular.otf");
}

.section-title {
    text-align: center;
    /* font-family: 'Vesper Libre', serif; */
    font-family: 'BebasNeue-Regular', 'Times New Roman', sans-serif;
    font-weight: 500;
    font-size: 30pt;
    padding: 30px 20px 20px 20px;
    width: 100%;
}

.content {

}

.content div {
    padding: 5px;
}

/* The "content" block of each section */
.content div div {
    position: relative;
    margin: auto;
    max-width: 1300px;
}

/**********************************************/
/***************** Variables ******************/
/**********************************************/

:root {
    --header-color: #FEFEFE;
    --me-section-color: #4682B4;
    --self-description-section-color: #f5f9fe;
    --education-section-color: #e8e8e8;
    --projects-section-color: #205480;
    --experience-section-color: #181818;
    --current-section-color: #fcfcfc;
    --footer-color: #f0f0f0;

    /* TODO - Get more specific colors */
    /*********** Project Tag Colors ***********/
    --java-color: deepskyblue;
    --objective-c-color: white;
    --python-color: darkblue;
    --javascript-color: yellow;
    --html-color: orange;
    --css-color: orange;
    --php-color: rebeccapurple;
    --shell-color: grey;
    --git-color: orangered;
}


/**************************************************/
/******************* Changeable *******************/
/**************************************************/

#education #undergrad .timeframe .year::after {
    content: " : (expected)";
}


#education #certificate .timeframe .year::after {
    content: " : (expected)";
}

/************************************************/
/******************** Header ********************/
/************************************************/

.navigation {
    width: 100%;
    margin: auto;
    text-align: center;
    /* background: linear-gradient(35deg, #05386B 25%, #45A29E 45%, #45A29E); */
    /* background: linear-gradient(to right, whitesmoke 25%, #003152 65%); */
    background: var(--header-color);
    box-shadow: -1px 0 8px black;
    border-top: 2px solid #353535;
    border-left: 2px solid #353535;
    border-bottom: 2px solid #353535;
    display: inline-flex;
    z-index: 0;
    font-family: 'Montserrat', 'Calibri', sans-serif;
}

@media screen and (max-width: 500px) {
    .navigation {
        /* overflow: scroll; */
    }
}

.navigation .section-title {
    display: inline-flex;
    margin: auto auto auto 0;
    padding: 15px;
    color: #003152;
    font-family: "Nunito", sans-serif;
    font-size: 20pt;
    font-weight: 500;

    background: var(--header-color);
    width: 100%;
}

.section-title {
    padding: 30px 10px 10px 10px;
}

.fixed-header-tags {
    width: max-content;
    padding: 10px 5px 10px 30px;
    background: var(--header-color);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 25;
    transition: 0.2s;
    border-top: 2px solid #353535;
}

.content-tags {
    width: max-content;
    display: inline-flex;
    margin: auto 15px auto auto;
    background: #f6f1f8;
    color: #858585;
    border: 3px solid whitesmoke;
    font-weight: 500;
    border-radius: 7px;
    z-index: 5;
}

.content-tags a {
    transition: 0.2s;
    margin: 0;
}

.content-tags a:hover {
    transition: 0.2s;
}

.content-tags a div {
    width: max-content;
    display: flex;
    padding: 10px;
    color: #000000;
}


@media screen and (max-width: 700px) {
    .navigation {
        width: 100%;
        margin: 0;
        text-align: center;
        /* background: linear-gradient(35deg, #05386B 25%, #45A29E 45%, #45A29E); */
        /* background: linear-gradient(to right, whitesmoke 25%, #003152 65%); */
        border: none;
        background: var(--header-color);
        display: block;
        font-family: 'Montserrat', 'Calibri', sans-serif;
    }

    .navigation .section-title {
        display: block;
        margin: 0 auto;
        padding: 15px;
        color: #003152;
        font-family: "Nunito", sans-serif;
        font-size: 20pt;
        font-weight: 500;

        background: var(--header-color);
        width: 100%;
    }

    .fixed-header-tags {
        width: 100%;
        padding: 5px;
        background: var(--header-color);
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        transition: 0.2s;
        border-top: 1px solid #353535;
        border-bottom: 1px solid #353535;
        font-size: 10pt;
    }

    .content-tags {
        margin: 0 auto;
    }

    .content-tags a div {
        width: max-content;
        display: flex;
        padding: 4px;
        color: #000000;
    }
}

@media screen and (min-width: 701px) {
    #fixed-header-tags.fixed-header-tags.free {
        border-top: 2px solid #353535;
        border-left: 2px solid #353535;
        border-bottom: 2px solid #353535;
        border-bottom-left-radius: 14px;
    }

    #fixed-header-tags.fixed-header-tags.inactive {
        right: -500px;
    }
}

#me-jump:hover, #me-jump.closest {
    background: var(--me-section-color);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#me-jump:hover div, #me-jump.closest div {
    color: white;
}

#education-jump:hover, #education-jump.closest {
    background: var(--education-section-color);
}

#education-jump:hover div, #education-jump.closest div {
    color: #303030;
}

#projects-jump:hover, #projects-jump.closest {
    background: var(--projects-section-color);
}

#projects-jump:hover div, #projects-jump.closest div {
    color: white;
}

#experience-jump:hover, #experience-jump.closest {
    background: var(--experience-section-color);
}

#experience-jump:hover div, #experience-jump.closest div {
    color: white;
}

#current-jump:hover, #current-jump.closest {
    background: var(--current-section-color);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

/********************************************/
/******************** Me ********************/
/********************************************/

#me {
    /* background: #b4bcd3; /* Old */
    background: var(--me-section-color);
    padding: 0;
}

#me .section-title {
    font-family: "Montserrat", serif;
    height: 50px;
    font-size: 20pt;
    padding: 10px;
    margin: 0 auto 30px auto;
}

#me .me-content {
    padding-top: 10px;
    position: relative;
    /* min-height: 95vh; */
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
}



#me .quick-intro {
    font-family: 'Montserrat', serif;
    margin: 30px auto;
    width: max-content;
}


#me .neofetch-block * {
    /* outline: 1px solid red; /* */
}

#me .neofetch-block {
    width: max-content;
    height: auto;
    margin: auto;
    background: #1f1f1f;
    padding: 40px;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    color: #d0d4cf
}

#me .neofetch-image {
    margin: 0 auto auto 0;
    padding: 0;
    float: left;
    width: max-content;
    display: inline-block;
}

#me .neofetch-image img {
    vertical-align: middle;
    max-width: 300px;
    width: 20vw;
}

#me .neofetch-content {
    display: inline-block;
    padding: 0 0 0 30px;
    width: auto;
    text-align: left;
    color: #d0d4cf;
    font-size: 11pt;
}

#me .neofetch-content a {
    color: #68d485;
}

#me .color-row {
    width: auto;
    margin-top: 30px;
    margin-left: 10px;
    clear: right;
    float: left;
    display: inline-flex;
    padding: 0;
}

#me .color-box {
    margin: 0;
    padding: 0;
    width: 27px;
    height: 18px;
}

#me .neofetch-command {
    clear: both;
    margin: 20px auto 0 0;
    text-align: left;
    padding: 0;
}

#me .appended-neofetch-command {
    font-size: 18pt;
}

#me .title {
    color: #76daff;
}

#me .attribute::after {
    content: ": ";
    color: #d0d4cf;
}

#me .value {
    color: #d48dd3;
}

#me .default {
    color: #d0d4cf
}

@media screen and (max-width: 1000px) {
    #me .neofetch-block {
        margin: 0 auto;
    }

    #me .neofetch-image {
        margin-bottom: 20px;
    }

    #me .neofetch-content {
        margin: 0;
        font-size: 10pt;
    }


    #me .neofetch-command {
        font-size: 10pt;
    }

    #me .appended-neofetch-command {
        font-size: 14pt;
    }
}

@media screen and (max-width: 700px) {
    #me .me-content {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    #me .neofetch-block {
        max-width: 95%;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    #me .neofetch-content {
        width: 100%;
        margin: 10px auto;
        padding: 0;
        font-size: 8pt;
    }

    #me .neofetch-command {
        font-size: 8pt;
    }

    #me .color-box {
        margin: 0;
        padding: 0;
        width: 18px;
        height: 9px;
    }
}

/*
@media screen and (max-width: 1000px) {
    #me .me-content {
        width: 95%;
    }
    #me .self-description-block {
        width: 100%;
        max-width: 100%;
    }
}*/

/**************************************************/
/**************** Self-Description ****************/
/**************************************************/

#self-description {
    background: var(--self-description-section-color);
    font-family: 'Montserrat', serif;
    display: flex;
    flex-direction: column;
}

#self-description .self-description-block {
    width: max-content;
    max-width: 800px;
    text-align: center;
    margin: 25px auto;
}

@media screen and (max-width: 800px) {
    #self-description .self-description-block {
        max-width: 90%;
    }
}

#self-description p {
    padding: 15px;
}

#self-description a {
    color: #57ad6a;
    text-decoration: underline;
    text-decoration-color: #1f1f1f;
}

#self-description .profile-image-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}

#self-description .profile-image {
    border-radius: 50%;
    max-width: 12vw;
    max-height: 120px;
    display: inline-block;
    margin: 0 10px 30px 10px;
}

#self-description .profile-image-row :last-child {
    border-radius: 0;
}

/**************************************************/
/******************** Education *******************/
/**************************************************/

#education {
    background: var(--education-section-color);
}

#education .education-content {
    padding-bottom: 50px;
}

#education .entry {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    margin: 25px 0;
    align-items: start;
}

#education img {
    border-radius: 50%;
    border: 1px solid white;
    max-width: 90px;
    box-shadow: 0 0 3px black;
}

#education .entry .entry-logo {

}

#education .entry-title {
    font-family: 'Nunito', serif;
    font-size: 14pt;
    font-weight: 600;
    vertical-align: middle;

}

#education .entry-item {
    width: 100%;
    height: 100%;
}

#education .institution {
    margin: 0;
    padding: 0;
}

#education .program {
    margin: 0;
    padding: 0;
}

#education .major-title {
    margin: 0;
    padding: 0;
}

#education .timeframe {
    text-align: right;
    font-weight: 500;
    font-size: 12pt;
    vertical-align: top;

}

#education .year {
    margin: 0;
    padding: 0;
}

#education .location {
    font-weight: 400;
    font-style: italic;
    margin-top: 5px;
}

#education {
    /** outline: 1px solid black; **/
}

#education li {
    font-size: 11pt;
}

#education .detailed-course-info {

}

#education .courses {

}

#education .additional-program-info {

}

#education .education-content-title {
    font-weight: 500;
    font-size: 14pt;
    margin: 5px 0;
}

#education .description-info {
    list-style-type: circle;
    list-style-position: inside;
    font-size: 11pt;
}

#education .description-info-detail {
    list-style-type: disc;
    font-size: 11pt;
    margin-left: 8px;
}

#education .major {
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 3px;
    font-size: 13pt;
}

#education ul {

}

#education ul ul :last-child {
    margin-bottom: 5px;
}

.entry img {

}

.entry div {

}

#education .entry {
    display: grid;

    grid-template-columns: 130px 4fr 3fr auto;
    grid-template-rows: 3vh auto auto;

    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

/** Undergrad Entry **/
#undergrad hr {
    grid-area: hr;
}

#undergrad .entry-logo {
    grid-area: undergrad_logo;
}

#undergrad .entry-title {
    grid-area: undergrad_title;
}

#undergrad .timeframe {
    grid-area: undergrad_timeframe;
}

#undergrad .courses {
    grid-area: undergrad_courses;
}

#undergrad .additional-program-info {
    grid-area: undergrad_detail;
}

#undergrad {
    grid-template-areas:
            ". hr hr hr"
            "undergrad_logo undergrad_title undergrad_title undergrad_timeframe"
            ". undergrad_courses undergrad_detail ."
}

@media screen and (max-width: 1000px) {
    #education .entry {
        display: grid;

        grid-template-columns: repeat(4, auto);
        grid-template-rows: 3vh max-content max-content;

        grid-column-gap: 5px;
        grid-row-gap: 10px;

        margin: 20px auto 30px auto;
    }

    #education .entry * {
        /* outline: 1px solid red; /* */
    }

    #education .major {
        font-size: 12pt;
    }

    #education li {
        font-size: 11pt;
    }

    #education .entry-logo {
        width: max-content;
        margin: 0;
    }

    #education img {
        border-radius: 50%;
        border: 1px solid white;
        max-width: 60px;
        box-shadow: 0 0 3px black;
    }

    #education .entry-title {
        font-size: 12pt;
    }

    #education .timeframe {
        font-size: 12pt;
    }

    #education .education-content-title {
        font-size: 12pt;
    }

    #education .description-info {
        font-size: 11pt;
    }

    #education .description-info-detail {
        font-size: 10pt;
    }

    #education .major {
        font-size: 11pt;
    }

    #undergrad {
        grid-template-areas:
                "hr hr hr hr"
                "undergrad_logo undergrad_title undergrad_title undergrad_timeframe"
                "undergrad_courses undergrad_courses undergrad_detail undergrad_detail"
    }
}

@media screen and (max-width: 500px) {

    #education {
        width: 100%;
        max-width: 100%;
    }

    #education .education-content {
        width: 100%;
        max-width: 100%;
    }

    #education .entry {
        width: 90%;
        max-width: 90%;
    }

    #education .entry {
        display: grid;

        grid-template-columns: max-content 1fr;
        grid-template-rows: 3vh repeat(4, auto);

        grid-column-gap: 0;
        grid-row-gap: 5px;


        align-items: center;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;


    }

    #education .entry-title {
        margin: 0;
    }

    #education .additional-program-info {
        padding-right: 20px;
    }

    #undergrad {
        grid-template-areas:
                "hr hr"
                "undergrad_logo undergrad_timeframe"
                "undergrad_title undergrad_title "
                "undergrad_courses undergrad_courses"
                "undergrad_detail undergrad_detail"
    }
}



/** Certificate Entry **/
#certificate hr {
    grid-area: certificate_hr;
}

#certificate .entry-logo {
    grid-area: certificate_logo;
}

#certificate .entry-title {
    grid-area: certificate_title;
}

#certificate .timeframe {
    grid-area: certificate_timeframe;
}

#certificate .courses {
    grid-area: certificate_courses;
}

#certificate .additional-program-info {
    grid-area: certificate_detail;
}

#certificate {
    grid-template-areas:
        ". certificate_hr certificate_hr certificate_hr"
        "certificate_logo certificate_title certificate_title certificate_timeframe"
        ". certificate_courses certificate_detail ."
}

@media screen and (max-width: 1000px) {
    #certificate {
        grid-template-areas:
                "certificate_hr certificate_hr certificate_hr certificate_hr"
                "certificate_logo certificate_title certificate_title certificate_timeframe"
                "certificate_courses certificate_courses certificate_detail certificate_detail"
    }
}

@media screen and (max-width: 500px) {
    #certificate {
        grid-template-areas:
                "certificate_hr certificate_hr"
                "certificate_logo certificate_timeframe"
                "certificate_title certificate_title"
                "certificate_courses certificate_courses"
                "certificate_detail certificate_detail"
    }
}

/**************************************************/
/******************** Projects ********************/
/**************************************************/

#projects {
    /* background: #494949; /* Old */
    background: var(--projects-section-color); /* New - from 'Skills' section */
}

#projects .projects-content {
    width: 100%;
    max-width: 100%;
}

#projects .section-title {
    color: #e4e4e4;
}

/* Project Collections */

.trove-container .project-tags {
    padding: 0 auto;
}

#projects .project-collections {
    width: 100%;
    display: flex;
    margin: 10px auto 0 auto;
}

#projects .project-collections a {
    border: 2px solid #b3b4ab;
    background: #dadbdf;
    transition: 0.3s;
    width: max-content;
    padding: 0;
    min-width: 200px;
    max-width: 520px;
    margin: 0 auto auto;
    border-radius: 5px;
}

#projects .project-collections a:hover {
    background: #a7a8ab;
    transition: 0.3s;
}

#projects .project-collections a:visited {
    color: black;
}

#projects .project-collections a:active {
    color: black;
}

#projects .collection {
    font-family: 'Nunito', sans-serif;
    border: none;
    color: black;
}

#projects .collection-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16pt;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    #projects .project-collections a {
        max-width: 470px;
        margin: 0 auto;
    }
}

/* Major Project Grid */

#projects .project-grid {
    width: 100%;
    max-width: 1400px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#projects .project-entry {
    font-family: 'Montserrat', serif;
    font-size: 14pt;
    width: 100%;
    max-width: 400px;
    margin: 0 30px 50px 30px;
    padding: 0;
}

#projects .project-info {
    border: 2px solid #202020;
    margin-bottom: 5px;
    padding: 0;
}


@media screen and (max-width: 1000px) {
    #projects .projects-content {
        width: 100%;
    }

    #projects .project-grid {
        width: 100%;
        justify-content: space-around;
    }

    #projects .project-entry {
        padding: 0;
        margin: 0 auto 40px auto;
    }

    #projects .project-entry * {
        width: 100%;
    }
}

/********************** Title *********************/
#projects .project-title-info {
    text-align: center;
    background: #dadbdf;
    padding: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#projects .project-title-info div {
    padding: 0;
    width: max-content;
}

#projects .project-title-info a {
    width: 50px;
    height: 50px;
    float: left;
    display: inline;
}

#projects .project-title-info a img {
    border-radius: 10%;
    width: 48px;
    height: 48px;
    margin: auto;
}

#projects .project-title-info p + a {
    float: right;
}


.project-title-info p {
    font-weight: 500;
    font-size: 18pt;
    display: inline;
}

.project-title-info .title {
    margin: auto 20px;
    flex-grow: 1;
}


/* easily add a tag to mark that a project is ongoing! */
#projects .ongoing .title p:after {
    display: block;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    font-size: 10pt;
    font-weight: 400;
    content: "this project is ongoing!";
}

/**************** Detail Section ******************/

#projects .project-info .external-project-link {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
}

#projects .cover-image {
    padding: 0;
    background: #fefefe;
    width: 100%;
}

#projects .cover-image img {
    width: 100%;
    outline: 1px solid black;
}


#projects .hidden-content {
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: transparent;
    position: absolute;
    transition: .1s;
    opacity: 0;
    text-align: center;

    display: none;
}

#projects .hidden-content:hover {
    opacity: .8;
    transition: .2s;
    background: #fefefe;
    color: black;
    padding: 60px 10px;
}

#projects .project-description {
    position: relative;
    padding: 10px;
    background: #fefefe;
    margin: 0;
    font-size: 10pt;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
}

#projects .project-description .short {
    font-weight: 600;
}

/****************** Project Tags *******************/

#projects .project-tags {
    width: 100%;
    display: flex;
    height: auto;
    padding: 0 auto;
}

#projects .project-tag {
    border: 1px solid;
    padding: 5px 10px;
    vertical-align: middle;
    border-radius: 5px;
    background: #585858;
    color: #b4bcd3;
    margin: 7px 4px;
    font-size: 9pt;
    width: max-content;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', serif;
    font-weight: 400;
}


/*********** Project Tag Colors ***********/

#projects .java-tag {
    border-color: var(--java-color);
}

#projects .objective-c-tag {
    border-color: var(--objective-c-color);
}

#projects .python-tag {
    border-color: var(--python-color);
}

#projects .javascript-tag {
    border-color: var(--javascript-color);
}

#projects .html-tag {
    border-color: var(--html-color);
}

#projects .css-tag {
    border-color: var(--css-color);
}

#projects .php-tag {
    border-color: var(--php-color);
}

#projects .shell-tag {
    border-color: var(--shell-color);
}

#projects .git-tag {
    border-color: var(--git-color);
}


/**************************************************/
/******************** Experience ******************/
/**************************************************/

#experience {
    background: var(--experience-section-color);
}

#experience .section-title {
    color: white;
}

/**************************************************/
/******************** Hobbies ********************/
/**************************************************/

#current {
    background: var(--current-section-color);
    display: block;
    height: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
}

#current * {
    /* outline: 1px solid blue; /* */
}

#current .current-content {
    position: relative;
    width: 100%;
    max-width: 1500px;
    min-height: 600px;
    padding: 0;
    margin: 0 auto;

    display: grid;

    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 100px auto;

    grid-gap: 0;

    grid-template-areas:
            "contact_row current_title social_row"
            "contact_row current_content social_row"
}

#current #current-title {
    grid-area: current_title;
}

#current #contact {
    grid-area: contact_row;
}

#current #current-main {
    grid-area: current_content;
}

#current #social {
    grid-area: social_row;
}

/* Vertical Contact Columns  */
#current .link-column {
    width: 260px;
    margin: 0;
    position: relative;
    flex-grow: 0;
    height: 100%;
}

#current .hr {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    width: 100%;
    height: 150px;
}

#current #contact .hr:not(:first-of-type), #current #social .hr:not(:last-of-type) {
    height: 10px;
}

#current .link-column {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#current .link-column * {
    flex-grow: 0;
}

#current .link-column hr {
    margin: 0 auto;
    width: 1px;
    height: 100%;
}

#current .links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#current .links a {
    width: max-content;
    padding-left: 0;
    margin: 5px auto;
}

#current .links img {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    max-height: 64px;
    display: block;
    margin: 0;
    padding: 0;
}

#current .links a:first-of-type {
    margin-top: 3px;
}

#current .links:last-child a {
    margin-bottom: 3px;
}

/* Removed outline because the 'clicked' indication is the increased padding so outline is unnecessary */
#current .link-column:active * {
    outline: none;
}

/********* Contact column ******/

#current #contact {

}

#current #contact img:hover {
    padding-left: 40px;
    padding-right: 0;
}

#current #contact img:active {
    padding-left: 60px;
    padding-right: 0;
}

/********** Social column **********/

#current #social {
    padding: auto 0 0 0;
}

#current #social img:hover {
    padding-right: 40px;
    padding-left: 0;
}


#current #social div:first-of-type {
    margin-top: auto;
}


#current #social img:active {
    padding-right: 60px;
    padding-left: 0;
}








/********* Title and Main Content *********/

#current #current-title {
    grid-area: current_title;
    padding: auto 0;
    width: 100%;
    max-width: 100%;
}



#current #current-main {
    grid-area: current_content;
    margin: 0;
    width: 100%;
    max-width: 100%;
}


/* Main Current Content */

#current-main {
    padding: 0;
    margin: 0;
    width: auto;
    display: block;
    font-family: 'Nunito', sans-serif;
}


#current #current-title {
    margin: 0;
    width: 100%;
    max-width: 100%;
}

#current-main div {
    margin: 10px auto 0 auto;
}

#current-main div > div {
    display: flex;
    margin: 0 auto;
    width: max-content;
}

#current-main p {
    text-align: center;
}

#current-main a {
    color: #57ad6a;
    text-decoration: underline;
    text-decoration-color: #1f1f1f;
}


#current-main .current-status {
    margin-top: 15px;
    text-align: center;
}

#current-main .recent-tech {
    display: flex;
}

#current-main ul {
    margin: 0 30px;
}

@media screen and (max-width: 900px) {
    #current .current-content {
        display: grid;

        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        grid-gap: 0;

        grid-template-areas:
            "current_title"
            "contact_row"
            "current_content"
            "social_row"
    }


    #current #contact, #current #social {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #current .link-column {
        margin: 0;
        padding: 0;
        position: relative;
        height: 130px;
        flex-grow: 0;
    }

    #current .hr {
        padding: auto 0;
        margin: auto 0;
        flex-grow: 1;
        max-width: 200px;
        height: 5px;
    }

    #current .link-column hr {
        margin: auto 0;
        width: 100%;
        height: 1px;
    }

    #current .links {
        width: max-content;
        height: auto;
        margin: 0;
        padding: auto 0;
    }

    #current .link-column .links a {
        width: max-content;
        padding: auto 0;
        margin: auto 3px;
        height: max-content;
        max-height: 100%;
        display: block;
    }

    #current .links img {
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;

        max-height: 64px;
        display: block;
        margin: 0;
        padding: 0;
    }

    #current #contact a , #current #social a {
        transition: 0.3s;
    }

    #current #contact a:hover {
        padding: 40px 0 0 0;
    }

    #current #social a:hover {
        padding: 0 0 40px 0;
    }

    #current #contact img:hover, #current #social img:hover {
        padding: 0;
    }

    /* Removed outline because the 'clicked' indication is the increased padding so outline is unnecessary */
    #current .link-column:active * {
        outline: none;
    }

    #current #contact a:active {
        padding: 60px 0 0 0;
    }

    #current #social a:active {
        padding: 0 0 60px 0;
    }

    #current .current-content #contact .hr:not(:first-of-type), #current #social .hr:not(:last-of-type) {
        max-width: 20px;
    }

    #current .current-content #contact .links:last-of-type {
        margin: auto auto auto 0;
        padding-right: 50px;
    }

    #current .current-content #social .links:first-of-type {
        margin: auto 0 auto auto;
        padding-left: 50px;
    }
}

/**************************************************/
/******************** Footer ********************/
/**************************************************/

.footer {
    background: var(--footer-color);
    font-family: 'Nunito', serif;
    border-top: 1px solid #cbcbcb;
    display: flex;
    flex-direction: column;
    font-size: 11pt;
}

.footer p {
    margin: 2px auto;
    width: max-content;
}

.footer p:first-of-type {
    margin-top: 12px;
}

.footer p:last-of-type {
    margin-bottom: 8px;
    font-size: 9pt;
}
/*
.footer p:first-child:before {
    content: "contacts = { ";
}

.footer p:first-child:after {
    content: " }";
}*/

.footer a {
    color: darkcyan;
}

.footer a:visited {
    color: darkcyan;
}

.footer p a:not(:last-child):after {
    content: " & ";
    color: black;
}