Options +MultiViews

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

DirectoryIndex index.html

RedirectMatch 301 ^/css/$ /
RedirectMatch 301 ^/doc/$ /
RedirectMatch 301 ^/fonts/$ /
RedirectMatch 301 ^/img/$ /
RedirectMatch 301 ^/js/$ /
